
<div id="charts" style="display:none">
  <br />
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Play Songs</a></li>
    <li class="tab-title"><a href="#panel2-2">Play/Follow</a></li>
    <li class="tab-title"><a href="#panel2-3">Like/Comment</a></li>
    <li class="tab-title"><a href="#panel2-4">Follow/Like+Comment</a></li>
    <li class="tab-title"><a href="#panel2-5">Comments/Time</a></li>
    <li class="tab-title"><a href="#panel2-6">Sentiment 1</a></li>
    <li class="tab-title"><a href="#panel2-7">Sentiment 2</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <div id="play-songs"></div>
    </div>
    <div class="content" id="panel2-2">
      <div id="play-follow" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-3">
      <div id="like-comment" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-4">
      <div id="follow-like-com" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-5">
      <div id="comments" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-6">
      <div id="sentiment" style="width:1000px; height:500px;"></div> 
    </div>
    <div class="content" id="panel2-7">
      <div id="sentiment-scatter"></div>
    </div>
  </div>

  <!-- <div id="player" style="width:350px; height:100px;"></div> -->
  <!-- <br /> -->
  <!-- <div id="player2" style="width:350px; height:100px;"></div> -->
  <!-- <br /> -->

  <!-- <div id="play-follow" style="width:1000px; height:500px;"></div>
  <br />
  <div id="like-comment" style="width:1000px; height:500px;"></div>
  <br />
  <div id="follow-like-com" style="width:1000px; height:500px;"></div>
  <br />
  <div id="comments" style="width:1000px; height:500px;"></div>
  <br />
  <div id="sentiment" style="width:1000px; height:500px;"></div>
  <br /> -->


</div>

<div class="searchformbox">
   
   <div class="search-song-box">
      <form class="search-song">
          <!-- <p class="song-form-header">CHOOSE UP TO 4 SONGS</p> -->
        <div>
          <input id="input" placeholder="SEARCH FOR SONGS" type="text" name="songsearch">
            <button id="search-button" class="button small">SEARCH</button>
        </div>
      </form>
  </div>
  <div class="select-song-div">

<!--     <form class="select-song" style="display:none">
      <hr />
      <h2><strong>Search Results</strong></h2>
      <div class="options"></div>
        <button class="button">ADD</button>
    </form>
    <br /> -->
    <div class="song-select" style="display:none">
      <hr />
      <!-- <h2><strong>Search Results</strong><h2> -->
      <table class="search-results"></table>
    </div>

  </div>

</div>

  <br>
  <br>
  <br>

<div class="analyze-form-box">
    <!-- <div class="small-6 large-centered columns"> -->
  <p class="song-form-header">Songs To Analyze</p>
    <div class="large-5 columns to-analyze">
      <form class="analyze-form">
        <ol class="analyze-list"></ol>
        <!-- <br> -->
    </div>
      <button class="button analyze-this">ANALYZE -></button>
    </form>
    <!-- </div> -->
</div>


<!-- <div id="my-slideshow" style="display:none">
  <ul class="bjqs">
    <li>
      <canvas id="play-follow" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="play-like" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="follow-like" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="comments" width="1000" height="400"></canvas>
    </li>
  </ul>
</div> -->

    
