
<div id="charts" style="display:none">
<!--   <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Tab 1</a></li>
    <li class="tab-title"><a href="#panel2-2">Tab 2</a></li>
    <li class="tab-title"><a href="#panel2-3">Tab 3</a></li>
    <li class="tab-title"><a href="#panel2-4">Tab 4</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <div id="bar" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-2">
      <div id="line" style="width:1000px; height:500px;"></div>
    </div>
    <div class="content" id="panel2-3">
      <p>Third panel content goes here...</p>
    </div>
    <div class="content" id="panel2-4">
      <p>Fourth panel content goes here...</p>
    </div>
  </div> -->
  <div id="sounds">

  </div>

  <div id="plays" style="width:1000px; height:500px;"></div>
  <br />
  <div id="follows" style="width:1000px; height:500px;"></div>
  <br />
  <div id="comments" style="width:1000px; height:500px;"></div>
  <br />
  <div id="sentiment" style="width:1000px; height:500px;"></div>

</div>

<div class="searchformbox">
   
   <div class="search-song-box">
      <form class="search-song">
          <!-- <p class="song-form-header">CHOOSE UP TO 4 SONGS</p> -->
        <div>
          <input id="input" placeholder="SEARCH FOR SONGS" type="text" name="songsearch">
            <!-- <button class="button">SEARCH</button> -->
        </div>
      </form>
  </div>
  <div class="select-song-div">

<!--     <form class="select-song" style="display:none">
      <hr />
      <h2><strong>Search Results</strong></h2>
      <div class="options"></div>
        <button class="button">ADD</button>
    </form>
    <br /> -->
    <div class="song-select" style="display:none">
      <hr />
      <!-- <h2><strong>Search Results</strong><h2> -->
      <table class="search-results"></table>
    </div>

  </div>

</div>

  <br>
  <br>
  <br>

<div class="analyze-form-box">
    <!-- <div class="small-6 large-centered columns"> -->
  <p class="song-form-header">Songs To Analyze</p>
    <div class="large-5 columns">
      <form class="analyze-form">
        <ol class="analyze-list"></ol>
        <!-- <br> -->
    </div>
    <div class="large-2 columns"> </div>
        <button class="button">ANALYZE -></button>
      </form>
    <!-- </div> -->
</div>


<!-- <div id="my-slideshow" style="display:none">
  <ul class="bjqs">
    <li>
      <canvas id="play-follow" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="play-like" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="follow-like" width="350" height="200"></canvas>
    </li>
    <li>
      <canvas id="comments" width="1000" height="400"></canvas>
    </li>
  </ul>
</div> -->

    
