<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SoundSense</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
          <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
        <!-- <script src="jquery-1.11.1.min.js"></script>
        <script src="jquery.js"></script> 
        <script src="jquery.steps.js"></script> -->
        <link type="text/css" rel="Stylesheet" href="css/bjqs.css" />
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/normalize.css">
        

        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/main.css">

        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
        var g = {
            client_id: "<%= ENV['SOUNDCLOUD_CLIENT_ID'] %>",
            alchemy_id: "<%= ENV['ALCHEMY_ID'] %>"
        };
        </script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="js/vendor/modernizr.js"></script>
        
    </head>
    <body>

<!--         <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li><img class="logo" src="images/logo.png" alt="soundsense-logo" width="90" height="90"></li>
            <li class="name">
              <h1 id="pg-title"><a href="#">SoundSense</a></h1>
            </li>
          </ul>

          <section class="top-bar-section">
            <ul class="right side stuff">
              <li id="home-link"><a href="#">Home</a></li>
              <li id="ex-link"><a href="#">Example</a></li>
            </ul>
          </section>
        </nav>
        <br /> -->

    <nav class="top-bar nav" data-topbar>
            <ul class="topbarstuff">
                <img class="logo" src="images/logo.png" alt="soundsense-logo" width="100" height="100">
                <li class="logo" "navtext">SOUNDSENSE</li>
                <li><a class="navtext" href="#SEARCH">EXPLORE</a></li>
                <li><a class="navtext" href="#SEARCH">SEARCH</a></li>
                <li><a class="navtext" href="#SEARCH"> HOME</a></li>
            </ul>
    </nav>

<div class="row">

    <!-- <div class="coverimage"> -->
        <%= yield %>
    <!-- </div> -->

</div>
    

    
    <script src="js/vendor/jquery.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="../js/vendor/gray.js"></script>
    <script src="js/foundation.min.js"></script>
    <script type="text/javascript" src="business-logic.js"></script>
    <script type="text/javascript" src="presentation-ui.js"></script>
  <script>
    $(document).foundation();
  </script>
  
</body>
</html>
