body{
  background: url('../images/bg5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica";
  text-align: center;
  padding: 0px;
  color: #444;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/*h1{
  font-size: 65px;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
}*/

.top-bar {
  height: 90px;
}

.title-area li {
  display: inline;
  float: left;
  margin-left: 150px;
}

#pg-title {
  font-size: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#pg-title a {
  height: 90px;
}

#home-link a, #ex-link a {
  font-size: 50px;
}

#pg-title a:hover {
  font-family: black;
}

.right.side.stuff {
  margin-right: 150px;
  font-size: 50px;
}

iframe {
  height: 125px;
  width: 700px;
}

.info.para {
  color: #f0f0f0;
  margin-left: 25px;
  margin-right: 25px;

}

#charts ul {
  text-align: inherit;
}

.tabs .tab-title {
  float: none;
  display: inline-block;
}

.button.tiny.pos.sentiment-button {
  background: #90ee7e;
  padding: 10px;
  font-size: 14px;
  margin-left: 15px;
}

.button.tiny.neg.sentiment-button {
  background: #f45b5b;
  padding: 10px;
  font-size: 14px;
}

.button.tiny.neut.sentiment-button {
  background: #2b908f;
  padding: 10px;
  font-size: 14px;
}

.all-comments {
  height: 550px;
  background-color: #f0f0f0;
  text-align: left;
  font-size: 11px
}

.all-comments {
  overflow-y: hidden;
}

.comment-display {
  margin-bottom: 0;
  margin-left: 30px;
}

.show-comments {
  height: 85%;
  overflow-y: scroll;
}
/*#play-songs {
  text-align: left;
}*/

h3{
  font-weight: 300;
}
.topbarstuff {
  margin-left: 120px;
  margin-right: 200px;
}
.logo {
  float: left;
  color: white;
  font-size: 65px;
  background: url("../images/logo.png");
  margin-left: 15px;
}

#input {
  width: 660px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

#logochange:hover{
    background-image: url("images/logo-purple.png");
  }


.song-form-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  color: black;
}

.searchformbox {
  position: relative;
  background-color: rgba(255,255,255,0.9);
  opacity: inherit;
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
  width: 700px;
}

#overimage {
    position: relative;   
    color:white;
    left:150px;
    top:350px;
}

.analyze-form-box {
  position: relative;
  background-color: rgba(255,255,255,0.9);
  opacity: inherit;
  display: inline-block;
  padding: .5cm;
  width: 700px
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
}

.coverimage {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
}

.search-results {
  background: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#search-header {
  padding-bottom: 30px;
}

.search-results th {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
}

.tagline-text {
    position: absolute;
    top: 300px;
    width: 100%;
    color: white;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

.tagline-text2 {
    position: absolute;
    top: 165px;
    width: 100%;
    color: white;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}


.nav {
  height: 100px;
  width: 100%;
  background-color: #202020;
  border-bottom: 1px solid #acacac;
  positive: absolute;
  text-decoration: none;
}

.navtext {
  float: right;
  color: white;
  padding: 26px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none
}

.footer-list {
  display: inline;
  color: white;
  margin-right: 20px;
  padding-top: 2cm;
  float: right;
  padding-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer-list:hover {
  background-color: none
}

.footer {
  height: 50px;
  width: 100%;
  background-color: black
}

a:link {
    text-decoration: none;
    display: inline
}

a:visited {
    text-decoration: none;
}




